.habit-option {
  width: 250px;
  // background-color: var(--secondary-background-color);
  border-right-width: 1px;
  border-left-width: 1px;
  padding: 5px;
  padding-bottom: 20px;
  // margin-bottom: 1000px;
  overflow: auto;
  // height: 100%;

  .title {
    border-bottom-width: 1px;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  h2 {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  li {
    // margin: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: var(--secondary-background-color);
    margin: 5px;
    border-radius: 5px;
    // border-bottom-width: 1px;
    &:hover {
      // background-color: var(--secondary-background-color-hover);
      cursor: pointer;
      background-color: var(--primary-color-hover);
      color: white;
    }
  }
  .add-habit-button-container {
    margin-top: 10px;
  }
  .is-active-habit {
    li {
      // background-color: var(--secondary-background-color-hover);

      cursor: pointer;
      background-color: var(--primary-color-hover);
      color: white;
    }
  }
}
.habit-option-drawer {
  width: 100%;
  border-right-width: 0px;
  border-left-width: 0px;
  padding-bottom: 100px;
}
