.habit-content {
  flex: 1;
  overflow: auto;
  // width: 100%;
}
.habit-main-top-title {
  display: flex;
  align-items: center;
  h2{
    max-width: 550px;
    margin: auto;
    padding: 10px;
    // padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
    // border-bottom-width: 1px;
    text-align: center;
  }
  // svg {
  //   position: absolute;
  // }
}