* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.body,
.habit-option *,
.settings-option * {
  transition: 0.25s background-color !important;
}
.calendar-day span {
  transition: 0.2s background-color !important;
}
.habit-overview-progress-container div[role="progressbar"]{
  // background-color: cyan !important;
  transition: width 0.7s;

}
button:focus {
  box-shadow: none !important;
}
button[customColor="light-blue"] {
  background-color: var(--secondary-background-color) !important;
  &:hover {
    background-color: var(--secondary-background-color-hover) !important;
  }
}

button[customColor="blue"] {
  background-color: var(--primary-color) !important;
  color: white;
  &:hover {
    background-color: var(--primary-color-hover) !important;
  }
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #c4c4c4;
}

// nab-bar
.nav-bar {
  border-bottom-width: 1px;

  .nav-bar-content {
    height: 60px;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right-home {
      display: flex;
      align-items: center;
      a {
        margin: 10px;
      }
    }
    .left {
      display: flex;
      align-items: center;
    }
  }
}
.css-hxtskf{
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 800px) {
  .nav-bar {
    .nav-bar-content {
      width: 90%;
    }
  }
}
