* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: 0.25s background-color !important;
}
span{
  transition: 0s background-color !important;

}
button:focus {
  box-shadow: none !important;
}
button[customColor="light-blue"] {
  background-color: var(--secondary-background-color) !important;
  &:hover {
    background-color: var(--secondary-background-color-hover) !important;
  }
}

button[customColor="blue"] {
  background-color: var(--primary-color) !important;
  color: white;
  &:hover {
    background-color: var(--primary-color-hover) !important;
  }
}
// nab-bar
.nav-bar {
  border-bottom-width: 1px;

  .nav-bar-content {
    height: 60px;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      a {
        margin: 10px;
      }
    }
  }
}

