@import "../../Variables.scss";

.app-home {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: calc(100vh - 61px);
  // border-radius: $border-radius;
  // margin-top: 15px;
  // border-width: 1px;
  border-right-width: 1px;
  // box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
}

.app-content,
.app-option {
  // border-width: 1px;
  // border-radius: $border-radius;
  height: 100%;
}
.side-drawer-menu {
  display: none !important;
}
@media only screen and (max-width: 800px) {
  .nav-bar {
    display: none;
  }
  .app-option-main {
    display: none;
  }
  .side-drawer-menu {
    display: inline-block !important;
  }
}