.app-option {
    width: 250px;
    background-color: var(--secondary-background-color);
  border-right-width: 1px;

  .title{
    border-bottom-width: 2px;

  }
  h2 {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    
  }
  li {
    // margin: 5px;
    font-size: 14px;
    font-weight: 400;

    padding: 10px 15px;
    border-bottom-width: 1px;
  }
}
