.habit-view-container {
  width: 100%;
  // overflow: auto;
  // flex: 1;
  // border-right-width: 1px;
  // padding: 10px;
  h2 {
    max-width: 550px;
    margin: auto;
    padding: 10px;
    // padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
    // border-bottom-width: 1px;
    text-align: center;
  }
  .habit-bottom-ht {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .app-content {
    h2 {
      text-align: left;
    }
  }
}
