
.setting-home {
  display: flex;

  // flex: 1;
  // overflow: auto;
  width: 90%;
  margin: 0px auto;
  max-width: 1100px;
}

.settings-content,
.settings-option {
  // border-width: 1px;
  // border-radius: $border-radius;
  // height: 100%;
}
.settings-content{
flex:1
}