
.setting-home {
  display: flex;

  // flex: 1;
  // overflow: auto;
  width: 100%;
  // margin: auto;
}

.settings-content,
.settings-option {
  // border-width: 1px;
  // border-radius: $border-radius;
  height: 100%;
}
