.settings-habits {
  width: 100%;
  padding: 20px 5%;
  margin: auto;
  overflow: auto;
  height: 100%;
  .title-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .title {
    font-weight: 500;
    font-size: 22px;
  }
  .habit-list-container {
    // padding-bottom: 10px;
    // max-height: 100px;
  
  }
  .habit-list-item {
    user-select: none;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 25px;
    //   margin: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-background-color);
  }
  .is-dragging-over-item {
    background-color: var(--primary-color-hover);
    color: white;
  }
  .habit-option-icon {
    cursor: pointer;
  }
}
